<!--
No es necesario modificar el template si los nombres
en el context de la view son iguales a los aqui usados
-->

{% for distrito in a %}
    <h1>Distrito: {{distrito}}</h1>
    <ul>
        <li>Tamaño del padrón: {{distrito.cantidad_votantes}}</li>
        <li>Porcentaje de votantes: {{porcentaje_votantes}} </li>
        <li>Total de votos del distrito: {{total_votantes}} </li>
        <li>Candidato ganador: {{ganador}} </li>

    </ul>
{% endfor %}

<!--
 Lo unico que cambie es que le agrege un for, ya que la forma
que usted me dio para completar los datos no me funcionaba, 
y como yo lo hice me funciona, la desventaja seria que, 
literalmente, me como el viaje porque hago el for despues, 
en vez de hacerlo en el html.
-->